  .emergency-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
      input[type="text"],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type="submit"] {
        width: 100%;
        background-color: rgb(89, 89, 179);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: rgb(87, 87, 209);
      }

      div .form-container{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 40px;
        max-width: 450px;
      }
      label,
      input[type="submit"] {
        font-size: large;
        font-weight: 600;
      }