body {
      background-color: #68adee;
      font-family: 'Courier New', Courier, monospace;
    }

    .navbar {
      background-color: black;
      margin: 15px;
    }

    .navbar-brand {
      font-weight: 800;
      font-size: 29px;

    }

    .container-fluid {
      display: flex;
      justify-content: space-between;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      text-align: center;
    }

    .btnz {
      background-color: red;
      width:250px;
      height:250px;
      border-radius: 50%;
      color: white;
      font-weight: 600;
      font-size: 35px ;
      align-self: center;
      text-decoration: none;
     
    }
    .btnz:hover{
      color: black;
    }
   .btnz a:hover{
    text-decoration: none;
    color:white;
   }
    li {
      font-size: 20px;
    }


    .head,
    .subhead,
    .sub,
    .subPart,
    li {
      font-weight: 600;
    }